<% if @todo.errors.any?%>
  <h2> Errors returned </h2>
  <%@todo.errors.full_messages.each do |msg|%>
  <li><%= msg%></li>
  <% end %>
<% end %>
<%= form_with(model: @todo) do |form| %>
  <p>
  <br/>
  <div class="card">
    <div class="card-header">
      <h3>ToDo</h3>
    </div>
    <%= form.text_field :name , class: "card-title",disabled: @read_only%>
  <p>
      <div class="card-body">
        <%= form.label :description, "What are all To Do ?", disabled: @read_only %>
      <br/>
        <%= form.text_area :description,class:"card-text", size: "60x10",disabled: @read_only %>
      <br/>
    <div class="sameline">
        <%= form.label :start_dt, "Started ?" %>
        <%= form.date_field   :start_dt ,disabled: @read_only%>
        <%= form.label :end_dt, "Done ?" %>
        <%= form.date_field   :end_dt, disabled: @read_only %>
        <%= form.label :iscompleted, "Is it Realllly Done?" %>
        <%= form.check_box  :iscompleted, disabled: @read_only%>
      </div>
      <br/>
    </p>
      <%if @todo.created_at? %>
          <div class="card-footer text-muted">
          <span>created at: <%=  time_ago_in_words(@todo.created_at) %> ago</span>
          </div>
      <%end%>
      <%= form.submit(@todo.new_record? ? "Create ToDo" : "Update ToDo", class: "btn btn-success" )  %>
    </p>
  </div>
<% end %>
