<div class= "container-fluid" style="background-color:lightgray;">
<% if @todo.errors.any?%>
  <h2> Errors returned </h2>
  <%@todo.errors.full_messages.each do |msg|%>
  <li><%= msg%></li>
  <% end %>
<% end %>
<%= form_with(model: @todo) do |form| %>
  <p>
  <%= form.label :name %>
  <%= form.text_field :name ,placeholder:"Thing to do"%>
  <br/>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description,placeholder:"What to do ?" ,  size: "60x10" %>
<br/>
  <%= form.label :start_dt %>
  <%= form.date_field   :start_dt %>
  <br/>
  <%= form.label :end_dt %>
  <%= form.date_field   :end_dt %>
  <br/>
   <br/>
  <%= form.submit %>
  <td><%= link_to "Back", todos_path , class: "btn btn-info"%></td>
  </p>
<% end %>
</div>