 <nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar-brand btn-light">
      <%= link_to "Home", root_path ,class: "btn btn-secondary btn-light" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right ">
        <% if logged_in? %>
        <% if isadmin? %>
          <li class="nav-item btn btn-light" >
            <%= link_to "All Users", users_path ,class: "btn btn-secondary" %>
            </li>
        <% end %>
          <li class="nav-item btn btn-light" >
            <%= link_to "All Todos", todos_path ,class: "btn btn-secondary" %>
            </li>
          <li class="nav-item btn btn-light" >
            <%= link_to "New Todo", new_todo_path ,class: "btn btn-secondary" %>
            </li>
          <li class="nav-item btn btn-float-right" >
            <%= button_to "Sign Out", signout_path ,method: :delete, class: "btn btn-primary btn-signout" %>
          </li>
        <%else%>
          <li class="nav-item btn btn-float-right" >
            <%= link_to "Sign Up", signup_path ,class: "btn btn-secondary" %>
          </li>
          <li class="nav-item btn btn-float-right" >
            <%= link_to "Sign in", signin_path ,class: "btn btn-secondary btn-signout" %>
          </li>
        <%end%>
        <li class="nav-item btn btn-float-right" >
          <%= link_to "About us", about_path ,class: "btn btn-secondary" %>
        </li>
      </ul>
    </div>
</nav>
