 <nav class="navbar navbar-expand-lg bg-light">
      <%= link_to "Home", root_path ,class:"navbar-brand btn-light"%>
      <ul class="nav navbar-nav navbar-right ">
        <% if logged_in? %>
          <% if isadmin? %>
          <li>
            <h3 style="color: red;"> You are logged in as Admin! </h3>
          </li>
            <li class="nav-item btn btn-light" >
              <%= link_to "All Users", users_path%>
            </li>
          <% end %>
        <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle btn-lg" href="#" id="navbarNavDropdown" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">  ToDos </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item btn-focus" ><%= link_to "All ToDo", todos_path %></li>
              <li class="dropdown-item btn-focus"> <%= link_to "New ToDo",  new_todo_path %></li>
              <li class="dropdown-item btn-focus"><a href="#" >Something else here</a></li>
             </ul>
        </li>
          <li class="nav-item btn btn-float-right btn-lg" >
            <%= link_to "Sign Out", signout_path ,method: :delete%>
          </li>
        <%else%>
          <%# <li class="nav-item btn btn-float-right" >
            <%= link_to "Sign Up", signup_path ,class: "btn btn-success btn-lg" %>
          <%# </li>
          <li class="nav-item btn btn-float-right" >
            <%= link_to "Sign in", signin_path ,class: "btn btn-secondary btn-signout btn-lg" %>
          <%# </li> %>
        <%end%>
        <li class="nav-item btn btn-float-right btn-lg" >
          <%= link_to "About", about_path%>
        </li>
      </ul>
    </div>
</nav>
