<!DOCTYPE html>
<html>
  <head>
    <title>Todoish</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-color">
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">This is a rails page</span>
    <span class="text-muted pull-right"><%= link_to "back to home page", root_path%></span>
  </div>
</footer>
</html>
